{% extends 'base.html' %}
{% load markdown_extras %}
{% load crispy_forms_tags %}

{% load static %}
<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">

{% block content %} 

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">



    <main class="container">

        <div class="row g-5">
            <div class="col-md-8">

                <div class="row">
                    <div class="d-flex justify-content-between">
                        <h1>{{ album.title }}</h1>
                        <div class="align-self-end">Publicado: {{ album.date_created }}</div>
                    </div>
                </div>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">
                {% if album.image %}
                    <div class="text-center">
                        <img src="{{ album.image.url }}" class="img-fluid" style="max-width: 200px; max-height: 200px" alt="thumbnail">
                    </div>
                {% else %}
                    <strong>No Album Image</strong>
                {% endif %}
                <hr>
                <h4>{{ album.author.name }}
                <hr>
                <h6>Categories:</h6>
                    <ul>
                    {% for category in album.categories.all %}
                        <li>{{ category.title }}</li>
                    {% endfor %}
                    </ul>
                    <hr>                

  <!--                 <h3 id="comments-section">Comentarios</h3>

                <hr class="d-none d-md-block my-2 mb-3 mt-2">

                <form method="post" >
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal"></h1>
                    {{ form|crispy }}
                    <button class=" btn  btn-primary " type="submit">Enter</button>
                </form>
                <hr class="d-none d-md-block my-2 mb-3 mt-2">

                {% for comment in post.comment_set.all %}
                    <div class="mt-4 mb-2 border border-opacity-10 rounded p-1">
                        <div class="row">
                            <div class="col-8 d-flex">
                                <h5>{{ comment.author.username }}</h5>
                                <span>- {{ comment.post_date }}</span>
                            </div>
                            <div class="col-4 text-end">
                            </div>
                        </div>
                        {{ comment.content }}
                    </div>
                {% endfor %}
                -->
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4">
                        <a class="btn btn-outline-primary ms-2" href="{% url 'blogs:newpost' %}" role="button" style="width: 300px; height: 100px;">Nueva Publicacion</a>
                    </div>
                </div>
            </div>
            
        </div>
        
        
    </main>
    
</div>

{% endblock content %}