<div id="carouselIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
        {% for f in albums %}
            <div class="carousel-item {% if f == albums|first %}active{% endif %}">
                <div class="px-5 p-md-5 mb-4 rounded text-bg-success bg-gradient" style="height: 300px; color: #808080;">
                    <div class="row align-items-center" >
                        <div class="col-md-6">
                            <h1 class="display-4 fw-bold text-center">{{ f.title }}</h1>
                            <p class="lead mb-0 text-center"><a style="text-decoration:none" href="{{ f.author.get_absolute_url }}" class="text-white fw-bold">{{ f.author.name }}</a></p>
                        </div>
                        <div class="col-md-6">
                            {% if f.image %}
                                <a href="{{ f.get_absolute_url }}"> <img  src="{{ f.image.url }}" class="img-fluid ml-4" style="width: 150px; height: 150px; object-fit: cover;" alt="thumbnail"></a>
                            {% else %}
                                <td>Image</td>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
