{% extends "base.html" %}
{% load markdown_extras %}


{% block content %}
  



<section class="vh-100" style="background-color: rgb(173, 216, 230);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;width: 620px;height:220px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                {% if user.profile_pic %}
                  <img src="{{ user.profile_pic.url }}"
                  alt="img" class="img-fluid"
                  style="width: 120px; height:120px; border-radius: 60px;">
                {% else %}
                  <td>Image</td>
                {% endif %}
                
              </div>
              <div class="flex-grow-1 ms-3" style= "width: 320px;height:150px;">
                <h5 class="mb-1"> {{ user.username }}</h5>
    
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef; height:75px;">
                  <div>
                    <p class="small text-muted mb-1">Posts</p>
                    <p class="mb-0">{{ user.cantidad_publicaciones }}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Followers</p>
                    <p class="mb-0">{{ user.followers.all.count }}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Following</p>
                    <p class="mb-0">{{ user.following.all.count }}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Avg.Rating</p>
                    <p class="mb-0">{{ user.rating }}/5</p>
                  </div>
                </div>
                {% if request.user != user %}
                <div class="d-flex pt-1">
                    <button type="button" class="btn btn-primary flex-grow-1 seguir-usuario" data-usuario-id="{{ user.id }}">
                        {% if user in request.user.following.all %}
                            Unfollow
                        {% else %}
                            Follow
                        {% endif %}
                    </button>
                </div>
                {% endif %}
                                
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}